name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  generate-jobs:
    runs-on: ubuntu-latest
    outputs:
      session: ${{ steps.set-matrix.outputs.session }}
    steps:
    - uses: actions/checkout@v3
    - uses: henryiii/nox@henryiii/feat/json
    - id: set-matrix
      run: echo session=$(nox --json -l | jq -c '[.[].session]') | tee --append $GITHUB_OUTPUT

  checks:
    name: Session ${{ matrix.session }} on ${{ matrix.runs-on }}
    needs: [generate-jobs]
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
        session: ${{ fromJson(needs.generate-jobs.outputs.session) }}
        exclude:
          - runs-on: windows-latest
            session: test(hello-cmake-package)
          - runs-on: windows-latest
            session: dist(hello-cmake-package)
    steps:
    - uses: actions/checkout@v3
    - uses: wntrblm/nox@2022.11.21
    - run: nox -s '${{ matrix.session }}'

  pass:
    if: always()
    needs: [checks]
    runs-on: ubuntu-latest
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
